* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 2rem;
	font-family: monospace;
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding-top: 20rem;
	margin: 0 auto;
	width: 400px;
}
.app > * {
	width: 100%;
}
.app > *:not(:last-child) {
	margin-bottom: 4rem;
}

/* BUTTON */
.button {
	border: none;
	outline: none;
	background-color: cornflowerblue;
	color: white;
	font-size: 2rem;
	padding: 1rem 2rem;
	cursor: pointer;

	transition: .1s;
}
.button:hover {
	background-color: #4c84ea;
}
